#
# Source Distribution Manifest
#
# More at https://docs.python.org/2/distutils/sourcedist.html

include README.md LICENSE requirements.txt *-requirements.txt
recursive-include project.d *.py *.md *.txt *.cfg
recursive-include debian changelog
